@import 'Variables.scss';

.footer {
  display: flex;
  justify-content: space-evenly;
  background: $very-dark-black-blue;
  color: $grayish-blue;
  padding: 4rem 12rem 5rem 0rem;
  border-radius: 0 8rem 0 0;
  margin-top: 4rem;

  .product,
  .company,
  .connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h4 {
      width: 100%;
      font-size: 1rem;
    }
    & ul {
      list-style-type: none;
      padding-left: 0;
      width: 100%;
    }

    & ul > li {
      margin: 1rem 0;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media only screen and (max-width: 1105px) {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;

    & .product,
    .company,
    .connect {
      margin-top: 1rem;
    }

    .product {
      margin-top: 5rem;
    }

    & h4 {
      margin: 0;
      text-align: center;
      color: $white;
    }

    & ul > li {
      text-align: center;
      margin: 0;
    }

    & ul {
      margin: 0.5rem;
    }
  }
}
