@import 'Variables.scss';

.container {
  width: 100%;
  min-height: 35rem;
  border-radius: 0 0 0 5rem;
  background: url('../images/header.png');
  background-size: cover;
  color: $white;

  @media only screen and (max-width: 850px) {
    background: url('../images/header-mobile.png');
  }
}

.navigation {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  font-weight: 500;
}

.left_side {
  display: flex;
  align-items: center;
  padding-right: 5rem;
}

.right_side {
  display: flex;
  padding-left: 5rem;

  @media only screen and (max-width: 1030px) {
    display: none;
  }
}

.drop_items {
  display: flex;
  margin-left: 2rem;

  @media only screen and (max-width: 1030px) {
    display: none;
  }
}

.title {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  margin-top: 7rem;

  @media only screen and (max-width: 550px) {
    margin-top: 5rem;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    height: 3rem;

    @media only screen and (max-width: 890px) {
      font-size: 2.5rem;
    }
  }

  h4 {
    font-weight: 400;
    font-size: 1.2rem;
  }

  @media only screen and (max-width: 890px) {
    & h1 {
      font-size: 2.5rem;
    }
    & h4 {
      font-size: 1.1rem;
    }
  }

  @media only screen and (max-width: 550px) {
    & h1 {
      font-size: 2rem;
      margin-bottom: 5rem;
      line-height: 1.4;

      & span {
        display: inline-block;
      }
    }

    & h4 {
      margin: 5rem 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.call_to_action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_start {
  padding: 1rem 1.2rem;
  margin-right: 0.5rem;
}

.btn_learn {
  padding: 1rem 1.2rem;
  background: transparent;
  color: $white;
  margin-left: 0.5rem;
  transition: 0.2s;

  &:hover {
    color: $light-red;
    background: $white;
  }
}
